<!DOCTYPE html>
  <html class="h-full mx-8 bg-back">
    <body class="h-full bg-back">
      <link href="/stylesheets/main.css" rel="stylesheet">
      <div className="bg-maroon">
        <h1 className="text-lg text-white font-bold">Recommended</h1>
      </div>
    </body>
  </html>