<!DOCTYPE html>
  <html class="h-full bg-white">
    <body class="h-full">
    <link href="/stylesheets/main.css" rel="stylesheet">
      <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8"> <!--hi-->>
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
          <img
            alt="Your Company"
            src="https://media.discordapp.net/attachments/1286925382632865804/1290021311120277565/Dormie_app.png?ex=66fc42f8&is=66faf178&hm=38810c25c66f306e4772df08864e2be7e276a784010d79cc63b6eef1d09921e6&=&format=webp&quality=lossless&width=1057&height=309"
            className="object-fill mx-auto h-10 w-auto"
          />
        </div>
        <% process.env.hello %>
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
          <form class="space-y-6" action="/login" method="POST">
            <div>
              <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Username</label>
              <div class="mt-2">
                <input id="username" name="username" type="username" autocomplete="username" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-maroon sm:text-sm sm:leading-6">
              </div>
            </div>

            <div>
              <div class="flex items-center justify-between">
                <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
              </div>
              
              <div class="mt-2">
                <input id="password" name="password" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-maroon sm:text-sm sm:leading-6">
              </div>
            </div>

            <div>
              <button type="submit" class="flex w-full justify-center rounded-md bg-maroon px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-maroon-light focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-maroon">Sign in</button>
            </div>
          </form>
          <p class="mt-10 text-center text-sm text-gray-500">
            Not a member?
            <a href="/signup" class="font-semibold leading-6 text-maroon hover:text-maroon-light">Start Here!</a>
          </p>
        </div>
      </div>
  </body>
</html>